/*
* Author: Joaquin Gomez
* Purpose: CSS for COMP001B Assignment 4-1
*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    margin-right: 20px;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.home {
    background-image: url(images/2024-nissan-gt-r-green-rear-view.png);
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
    padding-top: 150px;
}
